.hero {
    margin-bottom: 200px;

  

    &__container {
    }

    &__left {
        max-width: 445px;
        width: 100%;
        @media only screen and (max-width: 900px) {
            
        }
    }
    
    &__heading {
        font-family: 'Space Mono';
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
        margin: 0;
        margin-bottom: 24px;
        @media only screen and (max-width: 900px) {
            text-align: center;
        }
    }
    
    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin: 0;
        margin-bottom: 40px;
        @media only screen and (max-width: 900px) {
            text-align: center;
        }
    }
    
    &__btn {
    }
    
   
    &__right {
        position: relative;
        @media only screen and (max-width: 900px) {
            
            
        }
        &::before {
            position: absolute;
            top: 0;
            left: 100%;
            transform: translateX(64px);
            content: "";
            width: 100%;
            height: 100%;
            display: inline-block;
            background-color: #E5ECF4;;
            border-radius: 50%;
        }
        
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 741px;
            height: 151px;
            display: inline-block;
            background-image: url("./../images/arrow-big.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
    
    &__wrapper {

        @media only screen and (max-width: 900px) {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column-reverse;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 226px;
        &:nth-child(even) .hero__right {
            order: -1;
            
            &::before {
                left: 0;
                transform: translateX(calc(-100% - 64px));
            }
            
            &::after {
                left: 50%;
                transform: translateX(-50%) scaleX(-1);
                width: 741px;
                height: 151px;
                display: inline-block;
                background-image: url("./../images/arrow-big.svg");
            }
        }
    }
    
    &__img {
        border-radius: 50%;
        
    }
}
.button {
    min-width: 180px;
    max-width: 250px;
    background: none;
    outline: none;
    border: none;
    text-decoration: none;
    color: white;
    background: #FCB72B;
    display: inline-block;
    text-align: center;
    padding: 20px 14px;
    cursor: pointer;
    border: 3px solid transparent;

    &:hover {
        background-color: white;
        border: 3px solid #FCB72B;
        color: #FCB72B;
        transition: all 0.4s ease;
    }
}


.hero__coming {
    @media only screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}